.body {
    background-image: url(https://www.pngkey.com/detail/u2e6y3y3q8y3r5i1_red-tomato-icon-tomate-icon/), linear-gradient(red, blue);
    background-repeat: repeat;
    background-size: 50px; 
}
